.post-box{
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 47.5px;
    height: 100px;

    textarea{
        width: 80%;
        border: none;
        margin: 5%;
    }

    button{
        width: 10%;
        background-color: transparent;
        border: none;
        margin: 0% 5%;
    }
}