.user-tab{
    width: 100%;
    border-radius: 47.5px;
    display: flex;
    background-color: #EAEAEA;
    height: 100px;
    align-items: center;
    justify-content: space-between;

    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    button{
        width: 30px;
        border: none;
        background: transparent;
        width: 143px;
        height: 43px;
        margin-right: 5%;

    }
}